<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../views.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!--Import Font-->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    
		<!--Import Icons-->
		<script src="https://kit.fontawesome.com/5335e472ee.js" crossorigin="anonymous"></script>
		
		<title>Create Sprint</title>
</head>
<body>
  <div class="container smaller">

    	<!--Task Name-->
        <h1><input id="sprintName" type="text" name="sprintName" placeholder="Sprint Name" ></h1>
    
		<!--Task Description-->
		<textarea rows="5" id="sprintDescription" name="sprintDescription" placeholder="enter sprint description" ></textarea>
    
        <table>
            <!-- Start Date -->
            <tr id="startDate"></tr>
            <tr>
              <th>Start Date:</th>
              <td>
                <input type="date" id="startDateInput" name="startDate">
              </td>
            </tr>
      
            <!-- End Date -->
            <tr id="endDate"></tr>
            <tr>
              <th>End Date:</th>
              <td>
                <input type="date" id="endDateInput" name="endDate">
              </td>
            </tr>
          </table>
	
		<div id="modal" class="modal">
			<!-- Modal content -->
			<div class="modal-body" id="modal-body">
				<div class="modal-text" id="modal-text"></div>		
				<span class="close"><i class="fa-solid fa-xmark"></i></span>
			</div>
		</div>
		  
		<footer id="modal">
			<!--Submit/Cancel Buttons-->
			<button class="buttonContainer">
				<i class="fa-solid fa-check" onclick="createSprint()"></i>
			</button>
			
			<button onclick="history.back()" class="buttonContainer">
				<i class="fa-solid fa-xmark"></i>
			</button>
			
		</footer>
	</div>
		<script src="../js/createSprint.js"></script> 
		<script src="../js/shared.js"></script> 
	</body>
</html>